.section-wrapper {
  display: flex;
  height: 100vh;
}

.section-1 {
  background: #333333;
  width: 30%;
}

.section-2 {
  background: #716c6c;
  width: 70%;
}

#map {
  height: 100%;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: #333333;
}

.leaflet-popup-content {
  color: #fff;
}
