.section-wrapper {
  display: flex;
  height: 100vh;
}

.section-1 {
  background: #1f2933;
  width: 30%;
}

.section-2 {
  background: #716c6c;
  width: 70%;
}

#map {
  height: 100%;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: #333333;
}

.leaflet-popup-content {
  color: #fff;
}

.form-wrapper {
  display: flex;
  padding: 10px;
}

.inputs-wrapper {
  display: flex;
  justify-content: space-between;
}
.inputs-wrapper div {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

form {
  width: 100%;
  border-radius: 5px;
  background: #3e4c59;
  padding: 5px;
}

input {
  width: 40%;
}